h1
{
    box-shadow: 5px 5px;
    width: 40%;
    background: center;
    color: darkblue;
    background-color: rgb(196, 243, 255);
    border-radius: 15px;
    border: 1px dashed blueviolet;
    border-width: 3px;

    margin:auto;
    text-align: center;

}
.h1MainPage{
    width: 35%;
    color: rgb(15, 10, 1);
    background-color: blanchedalmond;
    border: 5px dotted burlywood;
}
