/* .divHide{
    display: none;
    background-color: blue;
    color: beige;
}
.divShow{
    display: block;
    background-color: blue;
    color: beige;
} */
/* ===== COMMON BOX STYLE ===== */
/* ===== GLOBAL ===== */
body {
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    font-family: Arial, sans-serif;
    padding: 20px;
}
h1,h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 48px;
    color: #ff4b5c;
    margin-bottom: 20px;
}

/* ===== CARD ===== */
.custom-card {
    background: linear-gradient(135deg, #ffffff, #f1f3f5);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.custom-card:hover {
    transform: scale(1.05) translateY(-6px);
    box-shadow: 0px 18px 40px rgba(0, 0, 0, 0.25);
}

/* ===== TITLE ===== */
.card-title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}
.card-icon {
    font-size: 90px;
}
.card-icon:hover {
    color: rgb(229, 17, 91);
}
/* ===== INPUT ===== */
input {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #00c9ff;
    box-shadow: 0 0 6px rgba(0, 201, 255, 0.6);
}

/* ===== BUTTON ===== */
button {
    width: 100%;
    border: 0;
    border-radius: 12px;
    background: linear-gradient(135deg, #ff6a00, #ee0979);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transition: 0.3s;
    transform: scale(1.05);
    opacity: 0.9;
}

/* ===== RESULT ===== */
#result1,
#result2,
#result3 {
    margin-top: 10px;
    padding: 12px;
    border-radius: 12px;
    font-weight: 500;
}
#result1.show {
    background: #e3f2fd;
    border: #0d47a1 solid 2px;
    color: #0d47a1;
}


/* ===== HIDDEN ===== */
.hide {
    display: none;
}

/* ===== RESULT STYLES ===== */
.show {
    display: block;
    background: #e3f2fd;
    color: #0d47a1;
    animation: fadeIn 0.4s ease;
}

.result2 {
    border: 2px solid #ff1744;
    background: #ffe3e3;
    animation: fadeIn 0.4s ease;
}

.result3 {
    color: #1b5e20;
    background: #e8f5e9;
    border: #1b5e20 solid 2px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.4s ease;
}

/* ===== ANIMATION ===== */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}