* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #f1f5f9;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-weight: bold;
  color: #0f172a;
}

.container {
  max-width: 600px;
}

#taskInput {
  height: 50px;
  font-size: 18px;
}

#addBtn {
  width: 60px;
  font-size: 20px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 18px;
}

.task-text.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.task-buttons {
  display: flex;
  gap: 10px;
}

.complete-btn {
  border: none;
  background: green;
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
}

.delete-btn {
  border: none;
  background: red;
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
}